<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="Intra" value="https://ams-nexus1.xbet.lan/repository/nuget-global/" />
    <add key="mancala-private" value="https://mancala-registry.xbet.lan/repository/nuget/" />
  </packageSources>
  <disabledPackageSources>
    <add key="mancala-private" value="true" />
    <add key="Intra" value="true" />
  </disabledPackageSources>
</configuration>
